.appointmentsContainer {
  padding: 70px;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
}

.loading {
  color: #555;
}

.error {
  color: red;
}

.appointmentsTableContainer {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
}

.appointmentsTable {
  width: 100%;
  border-collapse: collapse;
}

.appointmentsTable thead th {
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  text-align: left;
}

.appointmentsTable th,
.appointmentsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.appointmentsTable th {
  cursor: pointer;
  transition: background-color 0.3s;
}

.appointmentsTable th:hover {
  background-color: var(--primary-color-dark);
}

/* Scrollable tbody */
.scrollableTbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

.scrollableTbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.appointmentsTable tbody tr:nth-child(even) {
  background-color: var(--primary-color-light);
}

.appointmentsTable tbody tr:hover {
  background-color: #e9ecef;
}

/* Scrollbar customization */
.scrollableTbody::-webkit-scrollbar {
  width: 8px;
}

.scrollableTbody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollableTbody::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.scrollableTbody::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}

button {
  background-color: var(--text-light);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--text-dark);
}

span.status {
  padding: 8px;
  border-radius: 8px;
}

span.status.scheduled {
  background: #59bfff;
  color: white;
}

span.status.canceled {
  background: #ffadad8f;
  color: red;
}

span.status.completed {
  color: green;
  background: rgb(145 254 159 / 47%);
}

@media (max-width: 600px) {
  .appointmentsTable {
    font-size: 14px;
  }

  button {
    padding: 6px 10px;
  }
}
