.circularSpinner {
  position: relative;
  width: 27px;
  height: 27px;
  display: inline-block;
  /* background: #74a6f2; */
  padding: 10px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0;
}

.circularSpinner div {
  width: 6%;
  height: 16%;
  background: gray;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.circularSpinner .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.circularSpinner .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -0.9167s;
}

.circularSpinner .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -0.833s;
}

.circularSpinner .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.7497s;
}

.circularSpinner .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.667s;
}

.circularSpinner .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.5837s;
}

.circularSpinner .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.circularSpinner .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.4167s;
}

.circularSpinner .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.333s;
}

.circularSpinner .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2497s;
}

.circularSpinner .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.167s;
}

.circularSpinner .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.0833s;
}
