.footer {
  background-color: var(--primary-color-light);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col .section__description {
  text-align: left;
  color: var(--text-light);
  line-height: 1.75rem;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 0.75rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (min-width: 540px) {
  .footer__container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
