.Profile {
  color: var(--black);
  /* background: linear-gradient(106.37deg);s */
  background: linear-gradient(to bottom right, #f5f8ff, #e1ecf8);
  color: var(--black);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageContent {
  flex: 1;
  /* margin: 0 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 4rem; */
}

.ProfileClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* gap: 5rem; */
}

@media screen and (max-width: 1200px) {
  .ProfileClass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .ProfileClass {
    grid-template-columns: 1fr;
  }
}
