.profile_form {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(24, 28, 33, 0.1);
  max-width: 600px;
  width: 100%;
}

.card_body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.media {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.media img {
  margin-bottom: 1rem;
}

.ui_w_80 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_image {
  margin-left: 20px;
}

.upload_btn {
  cursor: pointer;
  color: #26b4ff;
  border: 1px solid #26b4ff;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s;
}

.upload_btn:hover {
  background-color: rgba(38, 180, 255, 0.1);
}

.upload_btn input {
  display: none;
}

.btn {
  border: 1px solid rgba(24, 28, 33, 0.1);
  background: transparent;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn_primary {
  background-color: var(--primary-color);
}

.btn_primary:hover {
  background-color: #000;
}

.btn_default {
  color: var(--primary-color);
}

.btn_default:hover {
  background-color: rgba(38, 180, 255, 0.1);
}

button:disabled {
  background-color: #d6d6d6;
  color: #a1a1a1;
  cursor: not-allowed;
  opacity: 0.7;
}

.text_light.small {
  font-size: 0.875rem;
  color: #babbbc;
  margin-top: 5px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.form_group {
  margin-bottom: 1.5rem;
}

.form_label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: block;
  font-weight: 500;
}

.form_control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form_control:focus {
  border-color: #26b4ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(38, 180, 255, 0.25);
}

.mb_1 {
  margin-bottom: 1rem;
}

.text_right {
  text-align: right;
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .profile_form {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .profile_form {
    align-items: center;
    padding: 15px;
  }

  .media {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile_image {
    margin-left: 0;
    margin-top: 10px;
  }
}
