PORT=8000
MONGO_URL=mongodb://mongo:27017/HealthCare

JWT_SECRET=change-me
SESSION_SECRET=change-me
OTP_LENGTH=6

MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASS=

PRIAID_API_TOKEN=
PRIAD_API_KEY=
PRIAD_API_SECRET=
SUPER_ADMIN_PASSWORD=change-me
ADMIN_PASSWORD=change-me
GEMINI_API_KEY=
HF_API_KEY=
