.filterSection {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterSection label {
  /* display: block; */
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.filterSection input {
  /* width: calc(100% - 12px); */
  padding: 8px;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}

.applyFiltersButton {
  margin-left: 20px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.applyFiltersButton:hover {
  background-color: #45a049; /* Darker green */
}

.input_wrapper {
  width: 400px;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.availableDoctors {
  width: 1000px;
  border: none;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2px auto;
  flex-direction: row;
}

.image {
  max-width: 300px;
  max-height: 300px;
  margin-inline: auto;
  margin-top: 3rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px 15px 0 0;
  transition: transform 0.3s ease;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
  font-size: 1.5rem;
}

#close-icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}
