.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination_button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination_button:hover {
  background-color: #d0d0d0;
}

.pagination_button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination_item {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination_item:hover {
  background-color: #d0d0d0;
}

.active {
  background-color: var(--primary-color);
  color: white;
}

.paginationEllipsis {
  padding: 8px 12px;
}
